{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

    {% for result in results %}
        
        <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">{{ result['quiz'].getName() }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ result['quiz'].getDateOfCreate().format('Y-m-d') }}</h6>
              <p class="card-text">Number of players: {{ result['users'] }}</p>
              <p class="card-text">Leader: {{ result['leader'] }}</p>
              <label for="var3"><strong>active</strong> </label>
              <input type="checkbox" {%if result['quiz'].getFlagActive()%} checked="true" {%endif%} disabled="true">
              
              <a class="btn btn-primary btn-lg float-right" href="/quiz/{{result['quiz'].getId()}}" role="button">Start</a>
            </div>
          </div>
        </div>
    {% endfor %}
    
    </div>
 
{% endblock body%}

{% block stylesheets %}
    <style type="text/css">
    
    .card{
        margin-top: 20px;
        margin-left: 20px;
    }
    
</style>
{% endblock %}
