{% extends 'base.html.twig' %}

{% block body %}
    
    <h1> <strong>{{name}}</strong>, you've succesfully completed this Quiz! Congratulations!</h1>
    <h2> TOP 3: </h2>
   
        <h3> 1: {{users_list[0]}}</h3>
    
        <h3> 2: {{users_list[1]}}</h3>
    
        <h3> 3: {{users_list[2]}}</h3>
    
    <h4>Your position is №{{position}}. </h4>
    
{% endblock body %}

{% block stylesheets %}
    <style type="text/css">
    
    h3{
        margin-left: 50px;
    }
    h2, h1, h4 {  
        margin-left: 20px;
    }
    
    h2, h4 {
        margin-top: 30px;
    }
    
    
</style>
{% endblock %}